$primary-color: #fffbeb;
$secondary-color: #78350f;
$section-background-color: #0f172a;
$font-family: "Roboto", "Poppins";
$white: #ffffff;
$black: #000000;
$font-color: #0f172a;
$font-heading: 56px;
$text: 14px;
$text-xl: 16px;
$text-xxl: 18px;
$text-xxxl: 20px;
$text-large: 24px;
$text-extra-large: 32px;
$line-height: 24px;