@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primary-color: $primary-color;
  --secondary-color: #78350f;
  --section-background-color: #0f172a;
  --font-family: "Roboto", "Poppins";
  --white: #ffffff;
  --black: #000000;
  --font-color: #0f172a;
  --text-small: 12px;
  --text: 14px;
  --text-xl: 16px;
  --text-xxl: 18px;
  --text-xxxl: 20px;
  --text-large: 24px;
  --text-exrt-large: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Poppins";
  transition: all 0.3s ease-in-out;
}

img {
  width: 100%;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.button-wrapper .btn {
  padding: 10px 26px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  border-radius: 8px;
  color: #78350f;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.button-wrapper .btn.btn-primary {
  border: 2px solid #78350f;
}
.button-wrapper .btn.btn-primary:hover {
  background-color: #78350f;
  color: #ffffff;
}
.button-wrapper .btn.btn-secondary {
  border: 2px solid transparent;
}
.button-wrapper .btn.btn-secondary:hover {
  border: 2px solid #78350f;
}

body {
  background-color: #fffbeb;
  overflow-x: hidden;
}
body.open {
  overflow: hidden;
  height: 100vh;
}
body section .container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 0 80px;
}
@media screen and (max-width: 768px) {
  body section .container {
    padding: 30px !important;
  }
}
body section .container .header {
  padding: 24px 0;
}
@media screen and (max-width: 768px) {
  body section .container .header {
    padding: 0;
  }
}
body section .container .header .logo-wrapper {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  color: #78350f;
}
body section .container .header .menu {
  max-width: 40px;
  width: 100%;
  height: 40px;
  display: none;
}
@media screen and (max-width: 991px) {
  body section .container .header .menu {
    display: block;
  }
}
body section .container .header .navigation-wrapper {
  gap: 32px;
}
body section .container .header .navigation-wrapper.mobile {
  display: none;
}
body section .container .header .navigation-wrapper a {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.5px;
  color: #78350f;
  text-transform: capitalize;
  position: relative;
}
body section .container .header .navigation-wrapper a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #78350f;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.5s ease-in-out;
}
body section .container .header .navigation-wrapper a:hover::after {
  width: 100%;
}
@media screen and (max-width: 991px) {
  body section .container .header .navigation-wrapper.desktop {
    display: none;
  }
  body section .container .header .navigation-wrapper.mobile {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    gap: 20px;
    background-color: #0f172a;
    padding: 40px 0;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 0;
    z-index: 6;
    overflow: hidden;
  }
  body section .container .header .navigation-wrapper.mobile.open {
    width: 250px;
  }
  body section .container .header .navigation-wrapper.mobile a {
    color: #ffffff;
    text-wrap-mode: nowrap;
  }
  body section .container .header .navigation-wrapper.mobile .button-wrapper .btn {
    text-wrap-mode: nowrap;
  }
  body section .container .header .navigation-wrapper.mobile .button-wrapper .btn.btn-primary {
    border-color: #ffffff;
    color: #ffffff;
  }
  body section .container .header .navigation-wrapper.mobile .button-wrapper .btn.btn-primary:hover {
    border-color: #78350f;
  }
}
body section.hero-section {
  background-image: url(../images/hero-background.png);
  height: 100%;
  width: 100%;
  background-position: 40.6% center;
}
body section.hero-section .container {
  padding: 80px;
  gap: 20px;
}
body section.hero-section .container .hero-left {
  max-width: 714px;
}
body section.hero-section .container .hero-left .heading h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
  color: #0f172a;
}
body section.hero-section .container .hero-left .content-wrapper p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  color: #0f172a;
}
body section.hero-section .container .hero-left .button-wrapper .btn {
  font-size: 20px;
  padding: 15px 30px;
}
body section.hero-section .container .hero-right {
  position: relative;
}
body section.hero-section .container .hero-right .image-wrapper {
  max-width: 487px;
  width: 100%;
  z-index: 1;
  position: relative;
}
body section.hero-section .container .hero-right::before {
  content: "";
  background-color: rgb(251, 191, 36);
  width: 367px;
  height: 372px;
  display: block;
  position: absolute;
  top: 52px;
  left: 52px;
  border-radius: 50px;
}
body section.hero-section .container .hero-card {
  max-width: 373.33px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}
body section.hero-section .container .hero-card .img-wrapper {
  width: 64px;
  height: 64px;
}
body section.hero-section .container .hero-card .img-wrapper .svg-icon-wrapper {
  position: absolute;
  top: 0;
  left: 26px;
}
body section.hero-section .container .hero-card .heading h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}
body section.hero-section .container .hero-card .content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
}
@media screen and (max-width: 1360px) {
  body section.hero-section .container:first-child .hero-left {
    max-width: 666px;
  }
  body section.hero-section .container:first-child .hero-right .image-wrapper {
    max-width: 450px;
  }
  body section.hero-section .container:first-child .hero-right::before {
    width: 350px;
    height: 350px;
  }
}
@media screen and (max-width: 1276px) {
  body section.hero-section .container:first-child .hero-left {
    max-width: 666px;
  }
  body section.hero-section .container:first-child .hero-left .heading h1 {
    font-size: 50px;
  }
  body section.hero-section .container:first-child .hero-left .content-wrapper p {
    font-size: 16px;
  }
  body section.hero-section .container:first-child .hero-left .button-wrapper .btn {
    font-size: 16px;
    padding: 12px 20px;
  }
  body section.hero-section .container:first-child .hero-right .image-wrapper {
    max-width: 450px;
  }
  body section.hero-section .container:first-child .hero-right::before {
    width: 260px;
    height: 260px;
    top: 30px;
    left: 30px;
  }
}
@media screen and (max-width: 1024px) {
  body section.hero-section .container:first-child {
    flex-direction: column-reverse;
    gap: 40px;
    padding: 40px 80px;
  }
  body section.hero-section .container:first-child .hero-left {
    max-width: 100%;
    gap: 10px;
  }
  body section.hero-section .container:first-child .hero-left .heading h1 {
    font-size: 40px;
  }
  body section.hero-section .container:first-child .hero-left .content-wrapper p {
    font-size: 16px;
  }
  body section.hero-section .container:first-child .hero-left .button-wrapper .btn {
    font-size: 16px;
    padding: 12px 20px;
  }
  body section.hero-section .container:first-child .hero-right .image-wrapper {
    max-width: 450px;
  }
  body section.hero-section .container:first-child .hero-right::before {
    width: 260px;
    height: 260px;
    top: 30px;
    left: 30px;
  }
  body section.hero-section .container:last-child {
    flex-wrap: wrap;
    align-content: start;
  }
}
@media screen and (max-width: 1024px) and (max-width: 930px) {
  body section.hero-section .container:last-child {
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  body section.hero-section .container:last-child .hero-card .img-wrapper {
    width: 64px;
    height: 64px;
  }
  body section.hero-section .container:last-child .hero-card .img-wrapper .svg-icon-wrapper {
    position: absolute;
    top: 0;
    left: 26px;
  }
  body section.hero-section .container:last-child .hero-card .heading h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
  }
  body section.hero-section .container:last-child .hero-card .content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
  }
}
body section.best-product-section {
  background-color: #0f172a;
}
body section.best-product-section .container {
  padding: 80px;
}
body section.best-product-section .container .heading-wrapper h2 {
  font-size: 56px;
  color: #ffffff;
  line-height: 61.6px;
}
body section.best-product-section .container .heading-wrapper .button-wrapper .btn {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
}
body section.best-product-section .container .heading-wrapper .button-wrapper .btn.btn-primary {
  border-color: #ffffff;
  color: #ffffff;
  padding: 18px 46px;
}
body section.best-product-section .container .heading-wrapper .button-wrapper .btn.btn-primary:hover {
  border-color: #78350f;
}
body section.best-product-section .container .product-card-wrapper {
  margin: -28px -35px;
  padding: 28px 35px;
  background-image: url(../images/Backlights.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  gap: 20px;
}
body section.best-product-section .container .product-card-wrapper .card {
  max-width: 394.67px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07), 0px 25px 50px -12px rgb(87, 87, 87);
}
body section.best-product-section .container .product-card-wrapper .card .card-content-wraper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  background-color: #0f172a;
}
body section.best-product-section .container .product-card-wrapper .card .card-content-wraper .title {
  font-size: 24px;
  font-weight: 700;
  line-height: 26.4px;
  color: #ffffff;
}
body section.best-product-section .container .product-card-wrapper .card .card-content-wraper .content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  color: #ffffff;
  margin-bottom: 10px;
}
body section.best-product-section .container .product-card-wrapper .card .card-content-wraper .button-wrapper .btn {
  width: 100%;
  padding: 14px 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  border-color: #ffffff;
  color: #ffffff;
}
body section.best-product-section .container .product-card-wrapper .card .card-content-wraper .button-wrapper .btn.btn-primary:hover {
  border-color: #78350f;
}
@media screen and (max-width: 968px) {
  body section.best-product-section .container {
    padding: 80px;
  }
  body section.best-product-section .container .heading-wrapper h2 {
    font-size: 40px !important;
    color: #ffffff;
    line-height: 61.6px;
  }
  body section.best-product-section .container .heading-wrapper .button-wrapper .btn {
    font-size: 16px !important;
  }
  body section.best-product-section .container .heading-wrapper .button-wrapper .btn.btn-primary {
    padding: 12px 20px !important;
  }
  body section.best-product-section .container .heading-wrapper .button-wrapper .btn.btn-primary:hover {
    border-color: #78350f;
  }
  body section.best-product-section .container .product-card-wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 968px) and (max-width: 769px) {
  body section.best-product-section .container .product-card-wrapper {
    justify-content: center;
  }
}
@media screen and (max-width: 968px) {
  body section.best-product-section .container .product-card-wrapper .card {
    max-width: 294px !important;
  }
  body section.best-product-section .container .product-card-wrapper .card .card-content-wraper {
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    background-color: #0f172a;
  }
  body section.best-product-section .container .product-card-wrapper .card .card-content-wraper .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 26.4px;
    color: #ffffff;
  }
  body section.best-product-section .container .product-card-wrapper .card .card-content-wraper .content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  body section.best-product-section .container .product-card-wrapper .card .card-content-wraper .button-wrapper .btn {
    width: 100%;
    padding: 14px 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    border-color: #ffffff;
    color: #ffffff;
  }
  body section.best-product-section .container .product-card-wrapper .card .card-content-wraper .button-wrapper .btn.btn-primary:hover {
    border-color: #78350f;
  }
}
body section.why-joinus-section .container {
  padding: 160px 80px;
}
body section.why-joinus-section .container .card {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 61px 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 500px;
}
body section.why-joinus-section .container .card .card-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}
body section.why-joinus-section .container .card .card-content h3 {
  font-size: 56px;
  font-weight: 800;
  line-height: 61.6px;
}
body section.why-joinus-section .container .card .card-content ul {
  list-style-image: url("../images/svg/list-style-icon.svg");
  padding: 0 0 0 24px;
}
body section.why-joinus-section .container .card .card-content ul li {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  padding-left: 7px;
}
body section.why-joinus-section .container .card .card-content .button-wrapper .btn {
  padding: 14px 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
}
body section.why-joinus-section .container .card .img-wrapper {
  max-width: 595px;
  margin-right: -37px;
  margin-top: 48px;
  position: relative;
  overflow: visible;
}
body section.why-joinus-section .container .card .img-wrapper::after {
  content: "";
  background-image: url(../images/why-join-us-background.png);
  width: 713px;
  height: 625px;
  display: block;
  top: -119px;
  left: -37px;
  position: absolute;
  overflow: unset;
  background-size: cover;
  background-position: center;
}
body section.why-joinus-section .container .card .img-wrapper img {
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 1300px) {
  body section.why-joinus-section.why-joinus-section .container .img-wrapper {
    max-width: 400px;
  }
  body section.why-joinus-section.why-joinus-section .container .img-wrapper::after {
    width: 500px !important;
    height: 438px !important;
  }
}
@media screen and (max-width: 1024px) {
  body section.why-joinus-section.why-joinus-section .container .card {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  body section.why-joinus-section.why-joinus-section .container .card .img-wrapper {
    max-width: 400px;
  }
  body section.why-joinus-section.why-joinus-section .container .card .img-wrapper::after {
    width: 500px !important;
    height: 438px !important;
  }
}
@media screen and (max-width: 991px) {
  body section.why-joinus-section.why-joinus-section .container {
    padding: 40px;
  }
  body section.why-joinus-section.why-joinus-section .container .card {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 50px 30px;
  }
  body section.why-joinus-section.why-joinus-section .container .card .card-content h3 {
    font-size: 40px !important;
  }
}
@media screen and (max-width: 500px) {
  body section.why-joinus-section.why-joinus-section .container {
    padding: 20px;
  }
  body section.why-joinus-section.why-joinus-section .container .card {
    padding: 30px;
  }
  body section.why-joinus-section.why-joinus-section .container .card .card-content h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
  }
  body section.why-joinus-section.why-joinus-section .container .card .card-content ul li {
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    padding-left: 7px;
  }
  body section.why-joinus-section.why-joinus-section .container .card .card-content .button-wrapper .btn {
    padding: 12px 20px !important;
    font-size: 16px !important;
  }
}
body section.because-they-love-us .container {
  padding: 80px 80px 42px 80px;
}
body section.because-they-love-us .container .heading-wrapper h2 {
  font-size: 56px;
  font-weight: 800;
  line-height: 61.6px;
  color: #0f172a;
}
body section.because-they-love-us .testimonial-wrapper {
  position: relative;
  padding-top: 36px;
  background-image: url(../images/testimonial-background.png);
  background-size: 94% 86%;
  background-repeat: no-repeat;
  background-position: top center;
}
body section.because-they-love-us .testimonial-wrapper .slick-list.draggable {
  padding: 0 60px 20px !important;
}
body section.because-they-love-us .testimonial-wrapper .slick-arrow {
  position: absolute;
}
body section.because-they-love-us .testimonial-wrapper .slick-arrow::before {
  content: unset;
}
body section.because-they-love-us .testimonial-wrapper .slick-arrow.slick-prev {
  top: -73px;
  right: 10.4%;
  left: unset;
  background-image: url(../images/svg/previous.svg);
  background-size: contain;
  width: 52px;
  height: 52px;
  background-repeat: no-repeat;
}
body section.because-they-love-us .testimonial-wrapper .slick-arrow.slick-next {
  top: -73px;
  right: 5.4%;
  background-image: url(../images/svg/next.svg);
  background-size: contain;
  width: 52px;
  height: 52px;
  background-repeat: no-repeat;
}
body section.because-they-love-us .testimonial-wrapper .card {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.07), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 20px;
  max-width: 384px;
  width: 100%;
  padding: 46px 33px 33px 33px;
  margin: 0 12px;
}
body section.because-they-love-us .testimonial-wrapper .card .logo-wrapper {
  height: 32px;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 32px;
}
body section.because-they-love-us .testimonial-wrapper .card .logo-wrapper img {
  height: 100%;
}
body section.because-they-love-us .testimonial-wrapper .card .content-wrapper {
  margin-bottom: 31px;
}
body section.because-they-love-us .testimonial-wrapper .card .content-wrapper p {
  font-size: 24px;
  font-weight: 400;
  line-height: 38.4px;
}
body section.because-they-love-us .testimonial-wrapper .card .client-wrapper .img-wrapper {
  width: 64px;
  height: 64px;
}
body section.because-they-love-us .testimonial-wrapper .card .client-wrapper .tesimonial-name-wrapper h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
}
body section.because-they-love-us .testimonial-wrapper .card .client-wrapper .tesimonial-name-wrapper span {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: rgb(71, 85, 105);
}
@media screen and (max-width: 991px) {
  body section.because-they-love-us .container .heading-wrapper h2 {
    font-size: 40px !important;
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: none;
}
.backdrop.open {
  display: block;
}/*# sourceMappingURL=style.css.map */