@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "variables/variables.scss";

:root {
    --primary-color: $primary-color;
    --secondary-color: #78350f;
    --section-background-color: #0f172a;
    --font-family: "Roboto", "Poppins";

    --white: #ffffff;
    --black: #000000;

    --font-color: #0f172a;

    --text-small: 12px;
    --text: 14px;
    --text-xl: 16px;
    --text-xxl: 18px;
    --text-xxxl: 20px;
    --text-large: 24px;
    --text-exrt-large: 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
    transition: all 0.3s ease-in-out;
}

img {
    width: 100%;
}

// Button
.button-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .btn {
        padding: 10px 26px;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.5px;
        border-radius: 8px;
        color: $secondary-color;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 8px;

        &.btn-primary {
            border: 2px solid $secondary-color;

            &:hover {
                background-color: $secondary-color;
                color: $white;
            }
        }

        &.btn-secondary {
            border: 2px solid transparent;

            &:hover {
                border: 2px solid $secondary-color;
            }
        }
    }
}

body {
    background-color: $primary-color;
    overflow-x: hidden;

    &.open {
        overflow: hidden;
        height: 100vh;
    }
    
    section {
        .container {
            margin: 0 auto;
            max-width: 1440px;
            width: 100%;
            padding: 0 80px;

            @media screen and (max-width:768px) {
                padding: 30px !important;
            }

            .header {
                padding: 24px 0;
                
                @media screen and (max-width: 768px) {
                    padding: 0;
                }

                .logo-wrapper {
                    font-size: $text-extra-large;
                    font-weight: 700;
                    line-height: 1;
                    color: $secondary-color;
                }

                .menu {
                    max-width: 40px;
                    width: 100%;
                    height: 40px;
                    display: none;

                    @media screen and (max-width: 991px) {
                        display: block;
                    }
                }

                .navigation-wrapper {
                    gap: 32px;

                    &.mobile {
                        display: none;
                    }

                    a {
                        font-size: $text-xl;
                        font-weight: 500;
                        line-height: 1;
                        letter-spacing: 0.5px;
                        color: $secondary-color;
                        text-transform: capitalize;
                        position: relative;

                        &::after {
                            content: "";
                            width: 0;
                            height: 2px;
                            background-color: $secondary-color;
                            position: absolute;
                            bottom: -4px;
                            left: 50%;
                            transform: translate(-50%, 0);
                            transition: all 0.5s ease-in-out;
                        }

                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }
                    }

                    @media screen and (max-width: 991px) {
                        &.desktop {
                            display: none;
                        }

                        &.mobile {
                            display: flex;
                            position: absolute;
                            right: 0;
                            top: 0;
                            gap: 20px;
                            background-color: #0f172a;
                            padding: 40px 0;
                            height: 100%;
                            flex-direction: column;
                            flex-wrap: wrap;
                            align-content: center;
                            justify-content: flex-start;
                            align-items: center;
                            width: 0;
                            z-index: 6;
                            overflow: hidden;

                            &.open {
                                width: 250px;
                            }

                            a {
                                color: $white;
                                text-wrap-mode: nowrap;
                            }

                            .button-wrapper {
                                .btn {
                                    text-wrap-mode: nowrap;
                                    &.btn-primary {
                                        border-color: $white;
                                        color: $white;

                                        &:hover {
                                            border-color: $secondary-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.hero-section {
            background-image: url(../images/hero-background.png);
            height: 100%;
            width: 100%;
            background-position: 40.6% center;

            .container {
                padding: 80px;
                gap: 20px;

                .hero-left {
                    max-width: 714px;

                    .heading {
                        h1 {
                            font-size: 72px;
                            font-weight: 700;
                            line-height: 1;
                            color: $font-color;
                        }
                    }

                    .content-wrapper {
                        p {
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 28.8px;
                            color: $font-color;
                        }
                    }

                    .button-wrapper {
                        .btn {
                            font-size: $text-xxxl;
                            padding: 15px 30px;
                        }
                    }
                }

                .hero-right {
                    position: relative;

                    .image-wrapper {
                        max-width: 487px;
                        width: 100%;
                        z-index: 1;
                        position: relative;
                    }

                    &::before {
                        content: "";
                        background-color: rgb(251, 191, 36);
                        width: 367px;
                        height: 372px;
                        display: block;
                        position: absolute;
                        top: 52px;
                        left: 52px;
                        border-radius: 50px;
                    }
                }

                .hero-card {
                    max-width: 373.33px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-content: flex-start;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 16px;
                    position: relative;

                    .img-wrapper {
                        width: 64px;
                        height: 64px;

                        .svg-icon-wrapper {
                            position: absolute;
                            top: 0;
                            left: 26px;
                        }
                    }

                    .heading {
                        h5 {
                            font-size: $text-xxxl;
                            font-weight: 500;
                            line-height: 22px;
                        }
                    }

                    .content {
                        p {
                            font-size: $text-xxl;
                            font-weight: 400;
                            line-height: 28.8px;
                        }
                    }
                }
            }

            @media screen and (max-width: 1360px) {
                .container:first-child {
                    .hero-left {
                        max-width: 666px;
                    }
    
                    .hero-right {
                        .image-wrapper {
                            max-width: 450px;
                        }
    
                        &::before {
                            width: 350px;
                            height: 350px;
                        }
                    }
                }
            }
    
            @media screen and (max-width: 1276px) {
                .container:first-child {
                    .hero-left {
                        max-width: 666px;
    
                        .heading {
                            h1 {
                                font-size: 50px;
                            }
                        }
    
                        .content-wrapper {
                            p {
                                font-size: 16px;
                            }
                        }
    
                        .button-wrapper {
                            .btn {
                                font-size: $text-xl;
                                padding: 12px 20px;
                            }
                        }
                    }
    
                    .hero-right {
                        .image-wrapper {
                            max-width: 450px;
                        }
    
                        &::before {
                            width: 260px;
                            height: 260px;
                            top: 30px;
                            left: 30px;
                        }
                    }
                }
            }
    
            @media screen and (max-width: 1024px) {
                .container:first-child {
                    flex-direction: column-reverse;
                    gap: 40px;
                    padding: 40px 80px;
    
                    .hero-left {
                        max-width: 100%;
                        gap: 10px;
    
                        .heading {
                            h1 {
                                font-size: 40px;
                            }
                        }
    
                        .content-wrapper {
                            p {
                                font-size: 16px;
                            }
                        }
    
                        .button-wrapper {
                            .btn {
                                font-size: $text-xl;
                                padding: 12px 20px;
                            }
                        }
                    }
    
                    .hero-right {
                        .image-wrapper {
                            max-width: 450px;
                        }
    
                        &::before {
                            width: 260px;
                            height: 260px;
                            top: 30px;
                            left: 30px;
                        }
                    }
                }
    
                .container:last-child {
                    flex-wrap: wrap;
                    align-content: start;
    
                    @media screen and (max-width: 930px) {
                        justify-content: center;
                    }
    
                    .hero-card {
                        .img-wrapper {
                            width: 64px;
                            height: 64px;
    
                            .svg-icon-wrapper {
                                position: absolute;
                                top: 0;
                                left: 26px;
                            }
                        }
    
                        .heading {
                            h5 {
                                font-size: $text-xxxl;
                                font-weight: 500;
                                line-height: 22px;
                            }
                        }
    
                        .content {
                            p {
                                font-size: $text-xxl;
                                font-weight: 400;
                                line-height: 28.8px;
                            }
                        }
                    }
                }
            }
        }


        &.best-product-section {
            background-color: $section-background-color;

            .container {
                padding: 80px;

                .heading-wrapper {
                    h2 {
                        font-size: 56px;
                        color: $white;
                        line-height: 61.6px;
                    }

                    .button-wrapper {
                        .btn {
                            font-size: $text-large;
                            font-weight: 700;
                            line-height: 24px;
                            letter-spacing: 0.5px;

                            &.btn-primary {
                                border-color: $white;
                                color: $white;
                                padding: 18px 46px;

                                &:hover {
                                    border-color: $secondary-color;
                                }
                            }
                        }
                    }
                }

                .product-card-wrapper {
                    margin: -28px -35px;
                    padding: 28px 35px;
                    background-image: url(../images/Backlights.png);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    gap: 20px;

                    .card {
                        max-width: 394.67px;
                        width: 100%;
                        border-radius: 8px;
                        overflow: hidden;
                        box-shadow:
                            0px 0px 15px 0px rgba(255, 255, 255, 0.07),
                            0px 25px 50px -12px rgb(87 87 87);

                        .card-content-wraper {
                            padding: 30px;
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            align-content: flex-start;
                            justify-content: flex-start;
                            align-items: stretch;
                            gap: 20px;
                            background-color: $section-background-color;

                            .title {
                                font-size: $text-large;
                                font-weight: 700;
                                line-height: 26.4px;
                                color: $white;
                            }

                            .content {
                                p {
                                    font-size: $text-xxl;
                                    font-weight: 400;
                                    line-height: 28.8px;
                                    color: $white;
                                    margin-bottom: 10px;
                                }
                            }

                            .button-wrapper {
                                .btn {
                                    width: 100%;
                                    padding: 14px 10px;
                                    font-size: $text-xxxl;
                                    font-weight: 500;
                                    line-height: 24px;
                                    letter-spacing: 0.5px;
                                    border-color: $white;
                                    color: $white;

                                    &.btn-primary {
                                        &:hover {
                                            border-color: $secondary-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 968px) {
                .container {
                    padding: 80px;
    
                    .heading-wrapper {
                        h2 {
                            font-size: 40px !important;
                            color: $white;
                            line-height: 61.6px;
                        }
    
                        .button-wrapper {
                            .btn {
                                font-size: $text-xl !important;
    
                                &.btn-primary {
                                    padding: 12px 20px !important;
    
                                    &:hover {
                                        border-color: $secondary-color;
                                    }
                                }
                            }
                        }
                    }
    
                    .product-card-wrapper {
                        flex-wrap: wrap;
                        justify-content: flex-start;
    
                        @media screen and (max-width: 769px) {
                            justify-content: center;
                        }
    
                        .card {
                            max-width: 294px !important;
    
                            .card-content-wraper {
                                padding: 30px;
                                display: flex;
                                flex-direction: column;
                                flex-wrap: wrap;
                                align-content: flex-start;
                                justify-content: flex-start;
                                align-items: stretch;
                                gap: 20px;
                                background-color: $section-background-color;
    
                                .title {
                                    font-size: $text-large;
                                    font-weight: 700;
                                    line-height: 26.4px;
                                    color: $white;
                                }
    
                                .content {
                                    p {
                                        font-size: $text-xxl;
                                        font-weight: 400;
                                        line-height: 28.8px;
                                        color: $white;
                                        margin-bottom: 10px;
                                    }
                                }
    
                                .button-wrapper {
                                    .btn {
                                        width: 100%;
                                        padding: 14px 10px;
                                        font-size: $text-xxxl;
                                        font-weight: 500;
                                        line-height: 24px;
                                        letter-spacing: 0.5px;
                                        border-color: $white;
                                        color: $white;
    
                                        &.btn-primary {
                                            &:hover {
                                                border-color: $secondary-color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }


        &.why-joinus-section {
            .container {
                padding: 160px 80px;

                .card {
                    background-color: $white;
                    box-shadow:
                        0px 0px 10px 0px rgba(0, 0, 0, 0.07),
                        0px 20px 25px -5px rgba(0, 0, 0, 0.1);
                    border-radius: 30px;
                    padding: 61px 80px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    height: 500px;

                    .card-content {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        align-content: flex-start;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 24px;
                        width: 100%;

                        h3 {
                            font-size: 56px;
                            font-weight: 800;
                            line-height: 61.6px;
                        }

                        ul {
                            list-style-image: url("../images/svg/list-style-icon.svg");
                            padding: 0 0 0 24px;

                            li {
                                font-size: $text-xxxl;
                                font-weight: 400;
                                line-height: 36px;
                                padding-left: 7px;
                            }
                        }

                        .button-wrapper {
                            .btn {
                                padding: 14px 30px;
                                font-size: $text-xxxl;
                                font-weight: 500;
                                line-height: 24px;
                                letter-spacing: 0.5px;
                            }
                        }
                    }

                    .img-wrapper {
                        max-width: 595px;
                        margin-right: -37px;
                        margin-top: 48px;
                        position: relative;
                        overflow: visible;

                        &::after {
                            content: "";
                            background-image: url(../images/why-join-us-background.png);
                            width: 713px;
                            height: 625px;
                            display: block;
                            top: -119px;
                            left: -37px;
                            position: absolute;
                            overflow: unset;
                            background-size: cover;
                            background-position: center;
                        }

                        img {
                            position: relative;
                            z-index: 5;
                        }
                    }
                }
            }

            @media screen and (max-width: 1300px) {
                &.why-joinus-section {
                    .container {
                        .img-wrapper {
                            max-width: 400px;
    
                            &::after {
                                width: 500px !important;
                                height: 438px !important;
                            }
                        }
                    }
                }
            }
    
            @media screen and (max-width: 1024px) {
                &.why-joinus-section {
                    .container {
                        .card {
                            flex-direction: column;
                            align-items: flex-start;
                            height: auto;
    
                            .img-wrapper {
                                max-width: 400px;
        
                                &::after {
                                    width: 500px !important;
                                    height: 438px !important;
                                }
                            }
                        }
                    }
                }
            }
    
            @media screen and (max-width: 991px) {
                &.why-joinus-section {
                    .container {
                        padding: 40px;
    
                        .card {
                            flex-direction: column;
                            align-items: flex-start;
                            height: auto;
                            padding: 50px 30px;
    
                            .card-content {
                                h3 {
                                    font-size: 40px !important;
                                }
                            }
                        }
                    }
                }
            }
    
            @media screen and (max-width: 500px) {
                &.why-joinus-section {
                    .container {
                        padding: 20px;
    
                        .card {
                            padding: 30px;
    
                            .card-content {
                                h3 {
                                    font-size: 30px;
                                    font-weight: 700;
                                    line-height: 1;
                                }
    
                                ul {
                                    li {
                                        font-size: $text;
                                        font-weight: 400;
                                        line-height: 36px;
                                        padding-left: 7px;
                                    }
                                }
    
                                .button-wrapper {
                                    .btn {
                                        padding: 12px 20px !important;
                                        font-size: $text-xl !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }


        &.because-they-love-us {
            .container {
                padding: 80px 80px 42px 80px;

                .heading-wrapper {
                    h2 {
                        font-size: 56px;
                        font-weight: 800;
                        line-height: 61.6px;
                        color: $section-background-color;
                    }
                }
            }

            .testimonial-wrapper {
                position: relative;
                padding-top: 36px;
                background-image: url(../images/testimonial-background.png);
                background-size: 94% 86%;
                background-repeat: no-repeat;
                background-position: top center;

                .slick-list.draggable {
                    padding: 0 60px 20px !important;
                }

                .slick-arrow {
                    position: absolute;

                    &::before {
                        content: unset;
                    }

                    &.slick-prev {
                        top: -73px;
                        right: 10.4%;
                        left: unset;
                        background-image: url(../images/svg/previous.svg);
                        background-size: contain;
                        width: 52px;
                        height: 52px;
                        background-repeat: no-repeat;
                    }

                    &.slick-next {
                        top: -73px;
                        right: 5.4%;
                        background-image: url(../images/svg/next.svg);
                        background-size: contain;
                        width: 52px;
                        height: 52px;
                        background-repeat: no-repeat;
                    }
                }

                .card {
                    box-shadow:
                        0px 0px 6px 0px rgba(0, 0, 0, 0.07),
                        0px 10px 15px -3px rgba(0, 0, 0, 0.1);
                    background-color: $white;
                    border-radius: 20px;
                    max-width: 384px;
                    width: 100%;
                    padding: 46px 33px 33px 33px;
                    margin: 0 12px;

                    .logo-wrapper {
                        height: 32px;
                        width: fit-content;
                        margin-bottom: 32px;

                        img {
                            height: 100%;
                        }
                    }

                    .content-wrapper {
                        margin-bottom: 31px;

                        p {
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 38.4px;
                        }
                    }

                    .client-wrapper {
                        .img-wrapper {
                            width: 64px;
                            height: 64px;
                        }

                        .tesimonial-name-wrapper {
                            h5 {
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 28.8px;
                            }

                            span {
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 22.4px;
                                color: rgba(71, 85, 105, 1);
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 991px) {
                .container {
                    .heading-wrapper {
                        h2 {
                            font-size: 40px !important;
                        }
                    }
                }
            }
        }

    }
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-color: rgb(0 0 0 / 10%);
    backdrop-filter: blur(2px);
    display: none;

    

    &.open {
        display: block;
    }
}
